<header class="header">
    <nav class="navbar">
        <div class="navbar__container container">
            <a href="#" class="brand">
                <span class="brand__logo"></span>
                <span class="brand__name">forkio</span>
            </a>
            <button class="header__btn navbar__btn">buy now</button>
            <button class="navbar__hamburger hamburger">
                <span class=hamburger__middle-line></span>
            </button>
            <ul class="navbar__nav nav-menu">
                <li class="nav-menu__item">
                    <a class="nav-menu__link nav-menu__link--active" href="#">overview</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="#">about fork</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="#">buying options</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="#">support</a>
                </li>
                <li class="nav-menu__item nav-menu__item--empty">
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="header__text">
            <h1 class="header__title">fork app</h1>
            <p class="header__slogan">A real gamechanger in the world of web development</p>
            <p class="header__ver">v. 2.8 For Mac and Windows</p>
        </div>
        <button class="header__btn header__btn--center-bottom">Download For Free Now</button>
    </div>
</header>