
<section class="sectionForkSubscription">

    <div class="container">
        <h2 class="sectionForkSubscription__title">Fork Subscription
            Pricing</h2>

        <div class="sectionForkSubscription__cardsWrapper">

            <div class="fscard">
                <div class="fscard__title">students</div>
                <div class="fscard__body">
                    <p class="fscard__price">$<span>29</span></p>
                    <span class="fscard__terms">per month</span>
                    <div class="fscard__lineDIV"></div>
                    <p class="fscard__conditions">
                        <span>Personal License</span>
                    </p>
                    <a class="fsCardButton" href="#">purchase</a>
                </div>
            </div>

            <div class="fscard">
                <div class="fscard__title">professional</div>
                <div class="fscard__body">
                    <p class="fscard__price">$<span>59</span></p>
                    <span class="fscard__terms">per month</span>
                    <div class="fscard__lineDIV"></div>
                    <p class="fscard__conditions">
                        <span>Professional License</span>
                        <span>Email Support</span>
                    </p>
                    <a class="fsCardButton" href="#">purchase</a>
                </div>
            </div>

            <div class="fscard fscardBig">
                <div class="fscard__title fscardBig__title">agency</div>
                <div class="fscard__body fscardBig__body">
                    <p class="fscard__price fscardBig__price">$<span>99</span></p>
                    <span class="fscard__terms">per month</span>
                    <div class="fscard__lineDIV"></div>
                    <p class="fscard__conditions">
                        <span>1-12 Team Members</span>
                        <span>Phone Support</span>
                    </p>
                    <a class="fsCardButton" href="#">purchase</a>
                </div>
            </div>

            <div class="fscard">
                <div class="fscard__title">enterprise</div>
                <div class="fscard__body">
                    <p class="fscard__price">$<span>159</span></p>
                    <span class="fscard__terms">per month</span>
                    <div class="fscard__lineDIV"></div>
                    <p class="fscard__conditions">
                        <span>Unlimited Team Members</span>
                        <span>24/ 7 Phone Support</span>
                    </p>
                    <a class="fsCardButton" href="#">purchase</a>
                </div>
            </div>

        </div>

    </div>
</section>
