<section class="people-are-talking">
    <div class="people-are-talking__container container">
        <h2 class="people-are-talking__title">People Are Talking About Fork</h2>

        <ul class="reviews">
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_smashing.png" alt="SMASHING MAGAZINE" class="review__image">
                </div>   
                <p class="review__text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li> 
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_codrops.png" alt="CODROPS" class="review__image">
                </div>   
                <p class="review__text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </li> 
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_w.png" alt="W" class="review__image">
                </div>
                <p class="review__text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
                
            </li>
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_pixelbuddha.png" alt="Pixel Buddha" class="review__image">
                </div>
                <p class="review__text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li>
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_creativebloq.png" alt="Creative BLOQ" class="review__image">
                </div>
                <p class="review__text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </li>
            <li class="reviews__item review">
                <div class="review__logo">
                    <img src="./img/sectionPeopleTalking/logo_tnw.png" alt="TNW" class="review__image">
                </div>
                <p class="review__text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </li>
        </ul>

        <p class="people-are-talking__text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

    </div>
</section>