<section class="HereIsWhatYouGet">
    <div class="container">
        <h2 class="HereIsWhatYouGet__title">
            &lt; Here is what you get &gt;
        </h2>
        <div class="HereIsWhatYouGet__container">
            <div class="optionsWhatYouGet">
                <div class="optionsWhatYouGet__option">
                    <div class="optionsWhatYouGet__icon">
                        <img src="img/sectionHereIsWhatYouGet/hwyg_icon_1.png" alt="icon">
                    </div>
                    <div class="optionsWhatYouGet__comment">
                        <h5 class="optionsWhatYouGet__title">Creatred to Make The Web Better</h5>
                        <p class="optionsWhatYouGet__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra
                            dui laoreet
                            vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                        </p>
                    </div>
                </div>
                <div class="optionsWhatYouGet__option">
                    <div class="optionsWhatYouGet__icon">
                        <img src="img/sectionHereIsWhatYouGet/hwyg_icon_2.png" alt="icon">
                    </div>
                    <div class="optionsWhatYouGet__comment">
                        <h5 class="optionsWhatYouGet__title">Incredibly Powerful Tool</h5>
                        <p class="optionsWhatYouGet__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut
                            volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                            volutpat.
                        </p>
                    </div>
                </div>
                <div class="optionsWhatYouGet__option">
                    <div class="optionsWhatYouGet__icon optionsWhatYouGet__icon--adjusted">
                        <img src="img/sectionHereIsWhatYouGet/hwyg_icon_3.png" alt="icon">
                    </div>
                    <div class="optionsWhatYouGet__comment">
                        <h5 class="optionsWhatYouGet__title">Experimental Stuff</h5>
                        <p class="optionsWhatYouGet__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut
                            volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                            volutpat.
                        </p>
                    </div>
                </div>
                <div class="optionsWhatYouGet__option">
                    <div class="optionsWhatYouGet__icon optionsWhatYouGet__icon--adjusted">
                        <img src="img/sectionHereIsWhatYouGet/hwyg_icon_4.png" alt="icon">
                    </div>
                    <div class="optionsWhatYouGet__comment">
                        <h5 class="optionsWhatYouGet__title">Creatred to Make The Web Better</h5>
                        <p class="optionsWhatYouGet__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut
                            volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                            volutpat. </p>
                    </div>
                </div>
            </div>
        </div>
        <figure class="HereIsWhatYouGet__image">
            <img src="img/sectionHereIsWhatYouGet/hwyg_background.png" alt="picture">
        </figure>

    </div>
</section>