@import "mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  @include clearfix;
  @media (max-width: $breakpoint-tablet) {}
  @media (max-width: $breakpoint-desktop) {}
}

a {
  color: unset;
  text-decoration: none;
}

.forkioWrapper {
  min-width: 320px;
  max-width: 1380px;
  margin: 0 auto;
}






