$hamberger-width: 26px;
$hamberger-height: 21px;
$hamburger-bk-color: transparent;
$line-width: 26px;
$line-small-width: 20px;
$line-height: 3px;
$line-color: #E5E3E3;
$v-space-between-line: 6px;

$bk-color: #fff;
$header-bk-color: #27262A;
$navbar-color: #8D81AC;
$hover-color: #fff;

.header {
    width: 100%;
    height: 718px;
    background-color: $bk-color;
    background-image: url(../img/header/header-bk.png);
    background-position: 50% -23px;
    background-repeat: no-repeat;
    position: relative;

    &__btn {
        margin-left: 22px;
        padding: 10px 24px;
        background: #8D81AC;
        color: #fff;
        border: none;
        border-radius: 100px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
      }

    &__btn:hover {
        background: $hover-color;
        color: $navbar-color;
    }

    

    &__btn:focus {
        outline: none;
    }

    &__btn--center-bottom {
        margin: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);

        &:hover {
            border: 1px solid $navbar-color;
        }

        &::after {
            content: "Unlimited 30-Days Trial Period";
            display: inline-block;
            position: absolute;
            left: 0;
            top: calc(100% + 13px);
            color: #848E97;
            font-size: 14px;
            cursor: default;
        }
    }

    
    &__text {
        margin-top: 43px;
        text-align: center;
    }

    &__title {
        line-height: 44px;
        font-size: 37px;
        font-weight: bold;
        color: #fff;
        text-transform: capitalize;
    }

    &__slogan {
        width: 258px;
        margin: 20px auto;
        line-height: 26px;
        font-size: 15px;
        color: $navbar-color;
        text-transform: capitalize;
    }

    &__ver {
        font-size: 12px;
        color: #848E97;
        text-transform: uppercase;
    }
}

.navbar {
    background-color: $header-bk-color;
    
    &__container {
        padding: 31px 15px;
        color: $navbar-color;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        font-size: 15px;
    }
    
}

.brand {
    display: flex;
    align-items: center;
    margin-right: 22px; 

    &__logo {
        display: inline-block;
        width: 43px;
        height: 41px;
        background: url('../img/header/brand-logo.png') -10px -10px;
    }

    &__name {
        display: none;
        margin-left: 17px;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &:hover > &__logo {
            background: url('../img/header/brand-logo.png') -73px -10px;
    }    
    &:hover > &__name {
            color: $hover-color;
    }

}

.nav-menu {
    display: none;
    list-style: none;

    width: calc(100% - 30px);

    background: #333333;

    text-align: left;

    position: absolute;
    z-index: 1;

    &__item {
        padding: 30px 0 36px 33px;
        border-bottom: 2px solid #3B3B3B;
        text-transform: capitalize;
        font-size: 19px;
        
    }

    &__item--empty {
        padding: 5px;
    }

    &__link {
        color: #fff;
        position: relative;
    }

    &__link--active,
    &__link:hover {
        color: $navbar-color;
    }

    &__link--active {
        cursor: default;
    }

    &__link--active::before {
        content: '';
        width: 8px;
        height: 53px;
        background: $navbar-color;
        position: absolute;
        left: -33px;
        top: -50%;
    }
}

.hamburger {
    margin-left: 48px;
    width: $hamberger-width;
    height: $hamberger-height;
    border: none;
    outline: none;
    background: $hamburger-bk-color;
    cursor: pointer;

    &__middle-line {
        position: relative;
        line-height: $hamberger-height;    
        vertical-align: middle;
    }
    
    &__middle-line,
    &__middle-line::after,
    &__middle-line::before {
        display: inline-block;
        width: $line-width;
        height: $line-height;
        background: $line-color;
        transition: transform 200ms, top 200ms;
    }
    
    &__middle-line::after,
    &__middle-line::before {
        content: '';
        position: absolute;
    }
    
    &__middle-line::before {
        width: $line-small-width;
        right: 0;
        top: -($line-height + $v-space-between-line);
    }
    
    &__middle-line::after {
        left: 0;
        bottom: -($line-height + $v-space-between-line);
    }
    
}

@media (min-width: $breakpoint-tablet) {
    .header {
        height: 800px;

        &__text {
            margin-top: 50px;
        }
    
        &__title {
            font-family: 'Lato', sans-serif;
            line-height: 67px;
            font-size: 55px;
        }
    
        &__slogan {
            width: unset;
            margin: 26px 0 20px;
            line-height: 21px;
            font-size: 17px;
        }

    }

    .navbar__container {
        padding: 22px 20px;
        flex-wrap: wrap;
    }

    .brand {
        &__name {
            display: unset;
        }
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        margin-top: 20px;
        position: unset;
        background: unset;
        display: flex;
        justify-content: center;

        &__item {
            padding: 0 24px;
            border: unset;
            font-size: 16px;
            font-weight: bold;
        }

        &__item--empty {
            display: none;
        }


        &__link {
            text-decoration: none;
            color: unset;
        }
    
        &__link:hover {
            color: $hover-color;
        }
    
        &__link--active::before {
            display: none;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .header {

        &__text {
            margin-top: 60px;
        }
    
        &__title {
            line-height: 77px;
            font-size: 62px;
        }
    
        &__slogan {
            margin: 18px 0;
            line-height: 28px;
            font-size: 24px;
        }
    
        &__ver {
            font-size: 14px;
        }
    }

    .navbar {
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 20px;

        &__container {
            padding: 30px 0;
            justify-content: space-between;
        }
        
        &__btn {
            order: 5;
        }
    }

    .nav-menu {
        margin-top: unset;
        margin-left: auto;
        width: auto;
    }

}

