@import "vars";

@mixin githubBtnStyle_list {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 3px 10px 3px 10px;
  background-color: rgb(242, 245, 247);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  align-items: center;
  height: 28px;
  border: 1px solid rgba(27,31,35,.2);
  span {
    font-size: 10px;
    font-weight: bold;
    &:last-child {
      margin: 0 0 0 3px;
      position: relative;
    }
  }
  &:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, .35);
  }
}

@mixin githubBtnStyle_likes {
  text-decoration: none;
  padding: 3px 10px 3px 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,.2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  &:hover {
    color: #0366d6;
  }
}

@mixin clearfix {
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}
@mixin flexColumn ($justify-con: $flex-justify-content, $al-items: $flex-align-items) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-con;
  align-items: $al-items;
}

@mixin flexRow ($justify-con: $flex-justify-content, $al-items: $flex-align-items) {
  display: flex;
  justify-content: $justify-con;
  align-items: $al-items;
}

@mixin fsCardButton {
  width: 160px;
  height: 42px;
  @include flexRow ($flex-justify-content, $flex-align-items);
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  background-color: #776b79;
  border-radius: 40px;
  &:hover {
    background-color: #D1CBD1;
    font-weight: 600;
    color:#7F6D78;

  }
}