@import "mixins";

.sectionForkSubscription {
  background-image: url("../img/sectionForkSubscription/section_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 0 0 93px 0;
  @include flexColumn ($flex-justify-content, $flex-align-items);

  &__title {
    margin: 71px auto 53px auto;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    max-width: 257px;
    text-align: center;
    @media (min-width: $breakpoint-tablet-cards) {
      max-width: 554px;
      margin: 25px auto 47px auto;
      font-size: 41px;
    }
    @media (min-width: $breakpoint-desktop-cards) {
      max-width: 663px;
      margin: 25px auto 71px auto;
      font-size: 46px;
    }
  }

  &__cardsWrapper {
    max-width: 100%;
    @include flexColumn ($flex-justify-content, $flex-align-items);
    @media (min-width: $breakpoint-tablet-cards) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 575px;
      justify-content: space-between;
      @media (min-width: $breakpoint-desktop-cards) {
        max-width: 1166px;
        justify-content: center;

      }
    }
  }
}

.fscard {
  @include flexColumn ($flex-justify-content, $flex-align-items);
  margin: 0 0 14px 0;
  width: 257px;
  @media (min-width: $breakpoint-desktop-cards) {
    &:not(:first-child) {
      margin: 0 0 0 16px;
    }
  }

  &__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    @include flexRow ($flex-justify-content, $flex-align-items);
    background-color: #685B6A;
    height: 97px;
  }

  &__body {
    width: 100%;
    display: flex;
    @include flexColumn ('space-evenly', $flex-align-items);
    background-color: #5F5161;
    height: 360px;
  }

  &__price {
    font-size: 57px;
    span {
      font-weight: 600;
    }
  }

  &__terms {
    font-size: 13px;
    opacity: 30%;
    text-transform: uppercase;
  }

  &__lineDIV {
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
  }

  &__conditions {
    @include flexColumn ('space-between', $flex-align-items);
    font-size: 15px;
    height: 44px;
  }
}

.fscardBig {
  width: 290px;
  @media (min-width: $breakpoint-tablet-cards) {
    width: 299px;
  }
  &__title {
    background-color: #3A2D3D;
    height: 111px;
  }
  &__body {
    background-color: #413344;
    height: 449px;
  }
  &__price {
    font-size: 78px;
  }
}

.fsCardButton {
  @include fsCardButton;
}
