.people-are-talking {
    padding: 65px 20px;
    background-image: url(../img/sectionPeopleTalking/testmonials-bg-phone.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
  
    &__container {
        min-width: unset;
        padding-bottom: 25px;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #645766;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
        }
    }



    &__title {
      margin: 0 auto;
      padding: 0 10px;
      font-size: 28px;
      color: #FFFFFF;
      text-align: center;
      line-height: 41px;
      font-weight: bold;
    }

    &__text {
        display: none;
    }
}

.reviews {
    
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        height: 64px;
        line-height: 64px;

        .review__image {
            vertical-align: middle;
        }
    }

    &__text {
        padding-top: 30px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #FFFFFF;
        line-height: 1.5em;
        align-self: stretch;
    }
}

@media (min-width: $breakpoint-tablet) {
    .people-are-talking {
        background-image: url(../img/sectionPeopleTalking/testmonials-bg-tablet.png);

        &__container {

            &::after {
                content: "";
                width: calc(100% - 30px);
            }
        }
    
        &__title {
            font-size: 33px;
          }

        &__text {
            margin: 20px 0;
            padding: 20px 20px 0;
            display: block;
            font-family: 'Lato', sans-serif;
            color: #A291A5;
            font-size: 14px;
            text-align: center;
            line-height: 1.5em;
            opacity: 0.8;
        }
    }
    
    .reviews {
        justify-content: space-between;
    }

    .review {
        width: 45%;
        max-width: 325px;

        &__text {
            font-size: 16px;
        }
    }

}

@media (min-width: $breakpoint-desktop) {
    .people-are-talking {
        max-width: 1380px;
        margin: 0 auto;
        background-image: url(../img/sectionPeopleTalking/testmonials-bg.png);

        &__container {

            &::after {
                content: "";
                width: 780px;
            }
        }

        &__title {
            font-size: 37px;
          }

        &__text {
            max-width: 857px;
            margin: 100px auto 0;
        }
    }

    .review {
        width: 30%;
    }
}