
@import "mixins";

.revolutionary {
  background-color: #ffffff;


  &__container {
    margin: 120px auto 88px auto;
    max-width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: $breakpoint-tablet) {
      max-width: 669px;
      margin: 156px auto 98px auto;
    }
    @media (min-width: $breakpoint-desktop) {
      max-width: 913px;
      margin: 156px auto 70px auto;
    }
  }

    &__title {
      display: flex;
      flex-direction: column;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      span {
        color: #635C73; // strange color to check
        &:last-child {
          margin: 20px 0 0 0;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        font-size: 31px;
        span:last-child {
          margin: 0 0 0 10px;
        }
      }

      @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
        font-size: 40px;
        span:last-child {
          margin: 0 0 0 12px;
        }
      }
    }

    &__description {
      margin: 23px 0 47px 0;
      font-size: 13px;
      line-height: 19px;
      color: #717171;
      opacity: 0.8;
      font-family: 'Lato', sans-serif;
      text-align: center;
      @media (min-width: $breakpoint-tablet) {
        font-size: 20px;
        line-height: 26px;
        padding: 0 25px;
      }
    }
  }

.githubButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__watch, &__star, &__fork {
    display: flex;
    margin: 20px 0 0 10px;
  }

  &__watch {
    margin: 20px 0 0 0;
    .githubButtons__menu {
      padding: 3px 18px 3px 8px;
    }
    span {
      &:last-child::after {
        content: "";
        position: absolute;
        top: 4px;
        left: calc(100% + 3px);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid black;
      }
    }
  }
  &__menu {
    @include githubBtnStyle_list;
  }
  &__likes {
     @include githubBtnStyle_likes;
  }
}






