
.HereIsWhatYouGet {
  padding: 34px 0 0 0;
  min-width: 320px;
  overflow: hidden;
  background-color: #F4F4F4;
  @media (min-width: $breakpoint-desktop ) {
    padding: 84px 0 0 0;
    @include clearfix; // clear fix mixin for container
  }

  &__title {
    margin: 0 auto;
    font-size: 27px;
    color: #8D81AC;
    text-align: center;
    max-width: 227px;
    line-height: 35px;
    font-weight: 600;
    @media (min-width: $breakpoint-tablet) {
      max-width: 501px;
      font-size: 31px;
      line-height: 41px;
    }
    @media (min-width: $breakpoint-desktop ) {
      float: right;
      width: 50%;
      text-align: left;
      font-size: 35px;
      line-height: 46px;
    }
  }

  &__container {
    padding: 0 30px;
    @media (min-width: $breakpoint-desktop ) {
      width: 45%;
      float: left;
      padding: 0 10px;
    }
  }

  &__image {
    img {
      margin: 57px 0 0 auto;
    }
    @media (min-width: $breakpoint-desktop ) {
      float: right;
      width: 50%;
      img {
        margin: 0 0 0 auto;
      }
    }
  }
}

.optionsWhatYouGet {
  margin: 0 auto;
  max-width: 268px;

  @media (min-width: $breakpoint-tablet) {
    max-width: 700px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 100%;
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      height: 90px;
    }
  }

    &__icon {
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 20%;
        height: 90px;
        @media (min-width: $breakpoint-desktop ) {
          width: 30%;
        }
      }
    }

    &__icon--adjusted{
      padding: 0 0 0 0;
      @media (min-width: $breakpoint-tablet) {
        padding: 0 0 0 15px;
      }
      @media (min-width: $breakpoint-desktop) {
        padding: 0 0 0 15px;
      }
    }

    &__comment {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 0;
      @media (min-width: $breakpoint-tablet) {
        height: 90px;
        align-items: start;
        justify-content: start;
        width: 80%;
        padding: 0 0 0 25px
      }
      @media (min-width: $breakpoint-desktop ) {
        width: 80%;
        padding: 0 0 0 0
      }
    }

    &__title {
      margin: 20px 0 20px 0;
      text-align: center;
      font-size: 14px;
      color: #323232;
      @media (min-width: $breakpoint-tablet) {
        margin: 0 0 10px 0;
      }
    }

    &__text {
      color: #848E97;
      font-size: 11px;
      line-height: 19px;
      text-align: center;
      @media (min-width: $breakpoint-tablet) {
        text-align: start;
      }
    }

  }

