
$document-min-width: 320px;
$content-max-width: 1200px;

$breakpoint-tablet: 481px; //main
$breakpoint-desktop: 993px; // main

$flex-justify-content: center;
$flex-align-items: center;

$breakpoint-tablet-cards: 580px; // cards have fixed width in every scenario it means I need change the breakpoint for section
$breakpoint-desktop-cards: 1138px; // the same as above
